<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<!--
file html utilizzato per l'inserimento di un film. una volta inserito porta direttamente alla pagina home.


-->


<head>
    <meta charset="UTF-8">
    <title>INSERT</title>
</head>

<style>

    body{
        background-color:#59739e ;
    }

    table {
        border-collapse: collapse;

    }

    td, th {
        border: 4px solid #ddd;
        padding: 2px;
        height: 50px;
        vertical-align: middle;
        background-color: #93a9cf;
    }
</style>
<body>

<h1>Insert a new Movie</h1>

<form action="/insert" method="POST">



    <table>
        <tr>
            <th>Title:</th>
            <td><input type="text" placeholder="title" name="title" /> </td>

        </tr>

        <tr>
            <th>Duration:</th>
            <td><input type="number" placeholder="duration" name="duration" /> </td>

        </tr>

        <tr>
            <th>Genre:</th>
            <td><input type="text" placeholder="genre" name="genre" /> </td>

        </tr>
        <tr>
            <th>PublishYear:</th>
            <td><input type="number" placeholder="publishYear" name="publishYear" /></td>

        </tr>
        <tr>
            <th>Actors:</th>
            <td><input type="text" placeholder="actors" name="actors" /> </td>

        </tr>
        <tr>
            <th>Description:</th>
            <td><input type="text" placeholder="description" name="description" /> </td>
        </tr>
        <tr>
            <th>Languages:</th>
            <td><input type="text" placeholder="languages" name="languages" /> </td>
        </tr>
        <tr>
            <th>Subtitles:</th>
            <td><input type="text" placeholder="Subtitles" name="subtitles" /> </td>
        </tr>
        <tr>
            <th>Price:</th>
            <td><input step="0.01" type="number" placeholder="price" name="price" /> </td>
        </tr>







    </table>

    <input type="submit" value="insert" />

</form>




</body>
</html>